HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/第二章课后题答案/2.5/java/controller/LoginController.java
/src/第二章课后题答案/2.5/java/service/UserService.java
/src/第二章课后题答案/2.5/resources/static/js/forget.js
/src/第二章课后题答案/2.5/resources/templates/mail/forget.html
/src/第二章课后题答案/2.5/resources/templates/site/forget.html
/src/第二章课后题答案/2.5/resources/templates/site/login.html
/src/第二章课后题答案/2.7/java/controller/UserController.java
/src/第二章课后题答案/2.7/java/service/UserService.java
/src/第二章课后题答案/2.7/resources/templates/site/setting.html
/src/第三章课后题答案/3.8/java/controller/MessageController.java
/src/第三章课后题答案/3.8/java/service/MessageService.java
/src/第三章课后题答案/3.8/resources/static/js/letter.js
/src/第三章课后题答案/3.8/resources/templates/site/letter-detail.html
/src/test/java/com/nowcoder/community/Solution.java
/src/test/java/com/nowcoder/community/Singleton.java
